<h2>Il form dell'eroe</h2>

<form #heroForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="Nome">Nome</label>
    <input #name="ngModel"  [(ngModel)]="modello.name"
       required type="text" minlength="3" class="form-control" id="Nome" name="Nome">

      <div *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger">
        <div *ngIf="name.errors?.['required']" >Il nome è obbligatorio</div>
        <div *ngIf="name.errors?.['minlength']" >Lunghezza minima 3</div>
      </div>



  </div>



  <div class="form-group">
    <label for="AlterEgo">Alter-Ego</label>
    <input [(ngModel)]="modello.alterEgo" required type="text" class="form-control" id="AlterEgo" name="AlterEgo">
  </div>

  <div class="form-group">
    <label for="SuperPotere">Super Potere</label>
    <select [(ngModel)]="modello.power" class="form-control" name="SuperPotere" id="SuperPotere">
      <option *ngFor="let p of powers" [value]="p">{{p}}</option>
    </select>
  </div>


  <button type="submit" [disabled]="!heroForm.form.valid" class="btn btn-success" style="margin-top: 10px;">OK</button>
  <button type="button" (click)="reset();heroForm.reset();" class="btn btn-info" style="margin-top: 10px;">RESET</button>

</form>
